In [1]:
import os
import sys
sys.path.insert(0, os.path.abspath('../'))

from stockdatareader import StockDataReader

In [2]:
sdr = StockDataReader()
isin = 'US02079K1079'
start_date = '2018-01-01'
end_date = '2018-09-15'
stock_data = sdr.read_data(isin, start_date, end_date)

In [3]:
stock_data

          Date     Open     High      Low    Close     Shares       Volume
0   2018-09-14  1179.10  1180.43  1168.33  1172.53   934375.0  611258622.0
1   2018-09-13  1170.74  1178.61  1162.85  1175.33  1331675.0  865356896.0
2   2018-09-12  1172.72  1178.61  1158.36  1162.82  1291305.0  751854998.0
3   2018-09-11  1161.63  1178.68  1156.24  1177.36  1209171.0  770088006.0
4   2018-09-10  1172.19  1174.54  1160.11  1164.64  1115339.0  776305984.0
..         ...      ...      ...      ...      ...        ...          ...
173 2018-01-08  1102.23  1111.27  1101.62  1106.94   924848.0  704981830.0
174 2018-01-05  1094.00  1104.25  1092.00  1102.23  1279990.0  853629556.0
175 2018-01-04  1088.00  1093.57  1084.00  1086.40   978251.0  665687528.0
176 2018-01-03  1064.31  1086.29  1063.21  1082.48  1429735.0  842201299.0
177 2018-01-02  1048.34  1066.94  1045.23  1065.00  1236401.0  802624844.0

[178 rows x 7 columns]

In [4]:
gain_rel, gain_abs = sdr.gain_over_time(isin, start_date, end_date)
print('absolute gain: ' + str(gain_abs))
print('relative gain: ' + str(gain_rel*100) + '%')

absolute gain: 107.52999999999997
relative gain: 10.096713615023472%